body {
	background-image:url(../source/bg.jpg);
	background-size:100%;
	margin-left: 5%;
	margin-right: 5%;
}

.search {
	text-align: center;
	height: 100px;
	margin-bottom: 8%;
}

.search h1{
	margin: 5% 0 3% 0;
	font-family:Arial, Helvetica, sans-serif;
	color:#00CCFF;
}

.search input {
	width: 70%;
	height: 40px;
	font-size: 1.5em;
	font-family:"Times New Roman", Times, serif;
}

